<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>

  <ion-list>
  <ion-item  *ngFor="let user of (userApiService.users) | async" expand="block" [routerLink]="['/tabs/tab1', user.login]" routerDirection="forward">
      <ion-avatar item-start>
        <img src="{{user.avatar_url}}"> 
      </ion-avatar>
      <span id="{{user.id}}" appColorRepos>{{user.login}}</span>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
