<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="userApiService.user | async as user">
  <ion-card>
    <ion-card-header>
      <ion-avatar>
        <img src="{{user.avatar_url}}"> 
      </ion-avatar>
      <ion-card-subtitle>{{user.name}}</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{user.bio}}
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>
      {{user.location}}
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Website/Blog</ion-label>
      {{user.blog}}
    </ion-item>
  
    
  </ion-card>
</ion-content>
